@page
@model LearningGit.Pages.Steps.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Step</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Step.StepID" />
            <div class="form-group">
                <label asp-for="Step.StepOrder" class="control-label"></label>
                <input asp-for="Step.StepOrder" class="form-control" />
                <span asp-validation-for="Step.StepOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.StepText" class="control-label"></label>
                <input asp-for="Step.StepText" class="form-control" />
                <span asp-validation-for="Step.StepText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.StepCode" class="control-label"></label>
                <textarea asp-for="Step.StepCode" class="form-control"></textarea>
                <span asp-validation-for="Step.StepCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step.TitleID" class="control-label"></label>
                <select asp-for="Step.TitleID" class="form-control" asp-items="ViewBag.TitleID"></select>
                <span asp-validation-for="Step.TitleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
