@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="panel-group" id="accordion">
    @foreach (var title in Model.Title)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@title.TitleID">
                        @title.TitleText
                    </a>
                </h4>
            </div>
            <div id="collapse_@title.TitleID" class="panel-collapse collapse in">
                <div class="panel-body">
                    @foreach (var step in title.Steps)
                    {
                        <p>
                            @step.StepText <br />
                            <div class="card card-body bg-light">
                                <pre class="well">@step.StepCode</pre>
                            </div>
                        </p>
                    }                  
                </div>
            </div>
        </div>
    }

</div>


