@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p>
        Create and switch to branch by using the command: <br />
        <pre>git checkout -b first-branch</pre>
    </p>
    <p>
        Add new branch to github after making updates and setup tracking relationship: <br />
        <pre>git push -u origin first-branch</pre>
    </p>
</div>
